<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ButtonFunIOS290.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC39A81F1E52515600115C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC39A8331E52515700115C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC39A83E1E52515700115C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
